.o_field_password_eyes_icon {
  .o_input {
    padding-right: 2em;
  }

  span.fa {
    color: var(--o-main-text-color);
    &:hover {
      color: var(--o-main-color-hover);
    }
  }
}

.form-group.field-password {
  position: relative !important;

  .password-toggle,
  #password_toggle_public,
  #password_toggle_signup,
  #password_toggle_reset,
  #password_toggle_confirm,
  #password_toggle_reset_confirm,
  [id^="password_toggle_"] {
    position: absolute !important;
    right: 13px !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    margin-top: 9px !important;
    cursor: pointer !important;
    z-index: 2 !important;
    color: #6c757d !important;
    font-size: 16px !important;
    transition: all 0.2s ease-in-out !important;

    &:hover {
      color: #212529 !important;
    }

    &.fa-eye,
    &.fa-eye-slash {
      display: inline-block !important;
      visibility: visible !important;
      opacity: 1 !important;
    }
  }

  input[type="password"],
  input[type="text"] {
    padding-right: 35px !important;
  }
}

#password_toggle_signup,
#password_toggle_confirm,
#password_toggle_reset,
#password_toggle_reset_confirm {
  display: none !important;
}

body.o_auth_signup_signup {
  #password_toggle_signup,
  #password_toggle_confirm {
    display: inline-block !important;
  }
  #password_toggle_reset,
  #password_toggle_reset_confirm {
    display: none !important;
  }
}

body.o_auth_signup_reset_password {
  #password_toggle_reset,
  #password_toggle_reset_confirm {
    display: inline-block !important;
  }
  #password_toggle_signup,
  #password_toggle_confirm {
    display: none !important;
  }
}
