# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# Ignore system files
.DS_Store
Thumbs.db

# Ignore compressed or temporary files
*.zip
*.7z
*.tar
*.gz
*.bak

# Ignore VS Code and workspace settings
.vscode/
.idea/


# Ignore custom or heavy folders
rmt_bpmn/
spiffy_theme_backend/
